{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >


<div class="welcome-header">

    <div>
      <h1>welcome to meetup.pizza</h1>
    </div>

</div>

<div id='meetup-list'>

  {% for meetup in meetups %}

    <div class="meetup">

      <h3 class='meetup-name'><a href="{{ meetup.get_meetup_link }}">{{ meetup.get_meetup_name }}</a></h3>

      {% if meetup.get_meetup_next_event_topic %}
        <div class='meetup-description'>
          <strong class='subheader'>Next Event:</strong>
          <p>{{ meetup.get_meetup_next_event_topic }} - {{ meetup.get_meetup_datetime}} at
          <a href="{{ meetup.get_meetup_map_link }}">{{ meetup.get_meetup_venue }}</a></p>
        </div>
      {% endif %}

      <div class='meetup-pizza-places'>
        <strong class='subheader'>Pizzas:</strong>
        {% for pizza_place in meetup.get_meetup_pizza_places %}
        <li class='meetup-pizza-list'>
          <a href="{{ pizza_place.get_yelp_link }}">{{ pizza_place.get_pizza_place_name }}</a>
          {{ pizza_place.get_pizza_place_rating }}
        </li>
        {% endfor %}
      </div>

    </div>

  {% endfor %}

</div>
