{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >


<div class="welcome-header">

  {% if user.is_authenticated %}

    <div>
      <h1>WELCOME, {{request.user.email}} !</h1>
      <a href="/sign_out">Sign Out</a>
    </div>

  {% else %}

    <div>
      <h1>welcome to meetup.pizza</h1>
    </div>

    <div class="signup-link">
        <a href="/sign_up">Signup</a>
    </div>

    <div class="signin-link">
        <a href="/sign_in">Sign In</a>
    </div>

  {% endif %}

  {% for meetup in meetups %}

    <div class="meetup">
      <h3><a href="{{ meetup.meetup_link }}">{{ meetup }}</a></h3>
      <p>{{ meetup.venue }}</p>
      <p>{{ meetup.datetime}}</p>
      <p>{{ meetup.next_event_topic }}</p>
      {% for place in meetup.pizza_places.all %}
      <li>
        {{ place }}
      </li>
      {% endfor %}
    </div>


  {% endfor %}

</div>
